/*
Theme Name: BoxShop Child
Theme URI: http://demo.theme-sky.com/boxshop/
Author: Theme Sky Team
Author URI: http://theme-sky.com/
Description: A Premium and Responsive WordPress theme, designed for E-Commerce websites
Template: boxshop
Version: 1.0.0
License: GNU General Public License v2 or later
License URI:  http://www.gnu.org/licenses/gpl-2.0.html
Tags: two-columns, left-sidebar, custom-background, custom-colors, custom-header, custom-menu, editor-style, featured-images, microformats, post-formats, rtl-language-support, sticky-post, threaded-comments, translation-ready
Text Domain: boxshop-child
*/


div.query_box_wrapper{
    position: fixed;
    right: 0px;
    z-index: 1000;
    top: 287px;
}

div.query_box_wrapper div.query_count{
    width: 20px;
    height: 25px;
    background: orange;
    border-radius: 50%;
    text-align: center;
    position: absolute;
    color: red;
    font-weight: 700;
    display: inline-block;
    right: 7px;
}
div.query_box{
    padding: 24px 10px;
    background: red;
    text-align: center;
    color: white;
    width: 100px;
    font-weight: 700;
    height: 100px;
    border-radius: 59%;
    display: inline-block;
}

div.query_box:hover{
  cursor: pointer;
  /*padding: 26px 12px;*/
  border: 2px solid white;
}



a.request-button::before{
  content : '' !important;
}

a.button.request-button{
    padding-top: 15px !important;
    display: inline-block !important;
    height: 50px !important;
    background: #2faae1 !important;
}
a.button.request-button:hover{
  cursor: pointer;
}

.woocommerce div.product form.cart .button.request-button{
  padding-top: 15px !important;
}
/* Modal Styles */

div.modal-window {
  position: fixed !important;
  background-color: rgba(255, 255, 255, 0.25) !important;
  top: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
  z-index: 999 !important;
  visibility: hidden !important;
  opacity: 0 !important;
  pointer-events: none !important;
  transition: all 0.3s !important;
 
}
div.modal-window:target {
  visibility: visible !important;
  opacity: 1 !important;
  pointer-events: auto !important;
}
div.modal-div {
  width: 400px !important;
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  padding: 2em !important;
  background: #ffffff !important;
   border: 2px solid black !important;
}
div.modal-window header {
  font-weight: bold !important;
}
div.modal-window h1 {
  font-size: 150% !important;
  margin: 0 0 15px !important;
}

a.modal-close {
  color: #aaa !important;
  line-height: 50px !important;
  font-size: 80% !important;
  position: absolute !important;
  right: 0 !important;
  text-align: center !important;
  top: 0 !important;
  width: 70px !important;
  text-decoration: none !important;
}
a.modal-close:hover {
  color: black !important;
}



div.modal-window div:not(:last-of-type) {
  margin-bottom: 15px !important;
}

small {
  color: #aaa !important;
}
