/*
Theme Name: BoxShop Child
Theme URI: http://demo.theme-sky.com/boxshop/
Author: Theme Sky Team
Author URI: http://theme-sky.com/
Description: A Premium and Responsive WordPress theme, designed for E-Commerce websites
Template: boxshop
Version: 1.0.0
License: GNU General Public License v2 or later
License URI:  http://www.gnu.org/licenses/gpl-2.0.html
Tags: two-columns, left-sidebar, custom-background, custom-colors, custom-header, custom-menu, editor-style, featured-images, microformats, post-formats, rtl-language-support, sticky-post, threaded-comments, translation-ready
Text Domain: boxshop-child
*/


div.query_box_wrapper{
    position: fixed;
    right: 0px;
    z-index: 1000;
    top: 287px;
}

div.query_box_wrapper div.query_count{
    width: 20px;
    height: 25px;
    background: orange;
    border-radius: 50%;
    text-align: center;
    position: absolute;
    color: red;
    font-weight: 700;
    display: inline-block;
    right: 7px;
}
div.query_box{
    padding: 24px 10px;
    background: red;
    text-align: center;
    color: white;
    width: 100px;
    font-weight: 700;
    height: 100px;
    border-radius: 59%;
    display: inline-block;
}

div.query_box:hover{
  cursor: pointer;
  /*padding: 26px 12px;*/
  border: 2px solid white;
}



a.request-button::before{
  content : '' !important;
}

a.button.request-button{
    padding-top: 15px !important;
    display: inline-block !important;
    height: 50px !important;
    background: #2faae1 !important;
}
a.button.request-button:hover{
  cursor: pointer;
}

.woocommerce div.product form.cart .button.request-button{
  padding-top: 15px !important;
}

